h1= title
-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info} 
- if (user)
   div.edit
      a(href="/edit/about") Edit this page
article!= aboutinfo
