h1 #{title}

if (flash)
  if (flash.error)
    p.flash.error #{flash.error}
  if (flash.info)
    p.flash.info #{flash.info} 

form(name="add-post",method="post",action="/save/post")
  fieldset.details
    
    label(for="subject") Subject:
    input(type="text",name="subject", required)
    
    label(for="subtitle") Subtitle:
    input(type="text",name="subtitle", required)
    
    label(for="tags") Tags (comma-separated)
    input(type="text",name="tags")
 
  fieldset.textcontent   
    
    label(for="body") Content
    textarea.postarea(name="body", resize="both")

    label(for="bodyrefs") Markdown link references
    textarea.postrefs(name="bodyrefs", resize="both")
    
    input(type="submit", class="button", name="post", value="Post")
