h1 #{title}

p  Set a username and a password (you can change these settings later)

-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info}

form(name="user-form",method="post",action="/adduser")
  fieldset
    label(for="username") Username:
    input(type="text",name="username", required)
    label(for="password") Password:
    input(type="password",name="password", required)
    label(for="passwordconf") Confirm :
    input(type="password",name="passwordconf", required)
    input(type="submit", class="button", name="submit", value="Submit", onClick="return confirm('Are you sure?');")
