h2 Create a new user

p  Set a username and a password (you can change these settings later).<br>

-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info}

form(name="user-form",method="post",action="/adduser")
  p  
    label Username:
    input(type="text",name="username", required)
  p  
    label Password:
    input(type="password",name="password", required)
  p  
    label Confirm :
    input(type="password",name="passwordconf", required)
  p  
    input(type="submit", class="button", name="submit", value="Submit", onClick="return confirm('Are you sure?');")
