h1 Blog settings
h3 Please fill in the name and the header text of the blog (you can change these settings later)
form(name="blogsettings",method="post",action="/initialsetup")
  p
    label Title:
    textarea(name="title", placeholder="Blog name here", rows="1", cols="45", resize="none", required)
  p
    label Header
    textarea(name="header", placeholder="Header info text here", rows="1", cols="45", resize="none", required)
  p  
    input(type="submit",name="post",value="Save")
