!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css') 
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')

  body
    header
      a.logo(href="/") 
         img(src="/images/mangos.png",alt="mangos")
      - if (user)            
         span.login
            p
               a(href="/posts/add") New post
            p
               a(href="/settings") Settings
            p
               a(href="/logout") Logout



    div#container!= body
    footer NodeBlog by ok | no rights reserved 2012
    script(type='text/javascript', src='/javascripts/editor.jquery.js')
    script(type='text/javascript', src='/javascripts/slidesubmit.jquery.js')
    script(type='text/javascript', src='/javascripts/snippets.jquery.js')


