!!!
html
  head
    title= title
    meta(name="author", content="Olli K")
    meta(name="generator", content="NodeBlog")
    meta(name="description", content="Blog")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.2")
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css') 
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')

  body

    header
      div.manymangos
         a(href="/")
            span.headertext too many
            img(class="logo", src="/images/mangos.png",alt="too many mangos")
            span.mangos mangos
      - if (user)            
         div.login
            a(href="/posts/add") New post
            a(href="/settings") Settings
            a(href="/logout") Logout

    footer
      p.about
         a(href="/about") about 
      p no rights reserved 2012

    div#container!= body
    
    script(type='text/javascript', src='/javascripts/editor.jquery.js')
    script(type='text/javascript', src='/javascripts/slidesubmit.jquery.js')
    script(type='text/javascript', src='/javascripts/snippets.jquery.js')
