!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css') 
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')

  body
    header
      a.logo(href="/")= title
      span.login
          - if (user)
            a(href="/settings") Settings
            span.divider |
            a(href="/logout") Logout
            span.divider |
            a(href="/posts/add") New post
          - else
            a(href="/login") Login


    div#container!= body
      footer NodeBlog by ok | no rights reserved 2012
    script(type='text/javascript', src='/javascripts/editor.jquery.js')
    script(type='text/javascript', src='/javascripts/slidesubmit.jquery.js')
    script(type='text/javascript', src='/javascripts/snippets.jquery.js')


