h1 Login user
-if (flash)
  -if (flash.error)
    p.flash.error #{flash.error}
  -if (flash.info)
    p.flash.info #{flash.info} 
form(name="login-form",method="post",action="/login")
  p
    label Username:
      input(type="text",name="username", required)
  p
    label Password:
      input(type="password",name="password", required)
  p
    input(type="submit",name="login",value="Login")