h1 Blog and user settings

p Last modified: #{blogsettings.modified}

h3 Main settings

form(name="blogsettings",method="post",action="/save/settings")
  p
    label Title:
  p  
    textarea(name="title", rows="1", cols="45", resize="none") #{blogsettings.title}
  p
    label Header
  p  
    textarea(name="header", rows="1", cols="45",resize="none") #{blogsettings.header}
  p  
    input(type="submit", class="button", name="post", value="Save")

h3 User settings

form(name="usersettings",method="post",action="/save/usersettings")
  p  
    label Username:
    input(type="text", name="username", value="#{user.user}", required)
  p  
    label Password:
    input(type="password", name="password", required)
  p  
    label Confirm :
    input(type="password", name="passwordconf", required)
  p  
    input(type="submit", class="button", name="submit", value="Save", onClick="return confirm('Are you sure?');")
