/**/
/* Let's start with some basic stylings */
@font-face {
font-family: DejaVuSerif;
src: url('../DejaVuSerif.ttf');
}

@font-face {
font-family: DejaVuSerif;
font-weight: bold;
src: url('../DejaVuSerif-Bold.ttf');
}

@font-face {
font-family: DejaVuSerif;
font-style: italic;
src: url('../DejaVuSerif-Italic.ttf');
}

@font-face {
font-family: DejaVuSerif;
font-style: italic;
font-weight: bold;
src: url('../DejaVuSerif-BoldItalic.ttf');
}


@font-face {
font-family: Arimo-Latin;
src: url('../Arimo-Regular-Latin.ttf');
}

@font-face {
font-family: Arimo-Latin;
font-weight: bold;
src: url('../Arimo-Bold-Latin.ttf');
}

@font-face {
font-family: Arimo-Latin;
font-weight: italic;
src: url('../Arimo-Italic-Latin.ttf');
}


@font-face {
font-family: Arimo-Latin;
font-style: italic;
font-weight: bold;
src: url('../Arimo-BoldItalic-Latin.ttf');
}


body {
	position: relative;
	padding: 30px 50px;
	font: 16px "Arimo-Latin", Helvetica, sans-serif;
	font-weight: normal;
	height: 100%;
	background-color: #FCFBF7;
}

a, .deletebutton, .editbutton, .tag {
	color: #FFB700;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

a:hover, .deletebutton:hover, .editbutton:hover, .tag:hover {
	text-shadow: 0 -1px 0 #A87900;
	text-decoration: underline;
}

h1 {
	font: 22px "DejaVuSerif", "Georgia", serif;
}

h1.main {
	font: 28px "DejaVuSerif", "Georgia", serif;
	font-weight: normal;
}


/**/
/* These are the concurring parts */

header {
	z-index: 1000;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #fcfcfc;
	color: #FFF000;
	width: 20%;
	height: 100%;
	padding: 6px 0;
	box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

footer {
	z-index: 900;
	position: fixed;
	bottom: 0;
	right: 2px;
	margin: 0;
	color: #c6c6c6;
	font-size: 11px;
}

.headertext {
	color: #660000;
	padding: 0 0 0 20px;
}

.logo {
	position: absolute;
	right: 20px;
	top: 20px;
}

.login  {
	right: 20px;
	top: 60px;
}

.divider {
	padding: 0 5px;
}

#container {
	z-index: 100;
	width: 80%;
}

.indexheader {
	border-bottom: 4px groove #660000;
}


/**/
/* Styles to the blogposts */

.body {
	padding: 10px 0 20px;
	font: 16px ;
}

.posted {
	margin: 5px 0;
	font-size: 12px;
}

.edit {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 60px;
}

.items {
	margin: 15px 0;
	display: block;
	overflow: hidden;
	max-width: 80%;
	text-overflow: ellipsis;
    white-space: nowrap;
} 

.fpblogpost {
	height: 70px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tag {
	color: #0e0e0e;
	font-size: 12px;
	padding: 0 5px 0 0;
	margin: 5px 5px 5px 0 ;
	border-right: 1px solid #660000;
}


/**/
/* Let's style the comments too */

.commentsection {
	margin: 15px 0 0;
	max-width: 66%;

}

.comment {
	position: relative;
	margin: 15px 0;
	padding: 5px;
	font-size: 14px;
	width: 750px;
}

.comment pre {
	text-align: justify;
	overflow: auto;
}

.comment:nth-of-type(odd) {
	background-color:#EBFBFF;
}

.editcomm {
	text-align: right;
	width: 750px;
}

.deletebutton, .editbutton {
	font-size: 12px;
	display: inline-block;
	width: 40px;
	padding: 5px 0;
	margin: 0 5px;
	background-color: transparent;
	border: 0;
	border-radius: 1px;
}

.deletebutton:hover, .editbutton:hover {
	cursor: pointer;
}

.commenteditform {
	display: inline;
}

.disclaimer {
	font-size: 70%;
	color: #0e0e0e;
	font-style: italic;
}

/**/
/* rte-plugin and the slider */


.rte-zone
{
    width:500px;
    margin:0;
    padding:0;
    border:1px #999 solid;
    clear:both;
    height:200px;
    display:block;
}

.rte-toolbar{ 
    overflow:hidden; 
}

.rte-toolbar a, .rte-toolbar a img {
        border:0;
}

.rte-toolbar p {
    float:left;
    margin:0;
    padding-right:5px;
}

#submit-slider{
    margin: 10px;
    width: 150px;
}

