/**/
/* Let's start with some basic stylings */

html {
    -webkit-font-smoothing: antialiased;
}

@font-face {
font-family: DejaVuSerif;
font-weight: normal;
src: url('../DejaVuSerif.ttf');
}

@font-face {
font-family: DejaVuSerif;
font-weight: bold;
src: url('../DejaVuSerif-Bold.ttf');
}

@font-face {
font-family: DejaVuSerif;
font-style: italic;
src: url('../DejaVuSerif-Italic.ttf');
}

@font-face {
font-family: DejaVuSerif;
font-style: italic;
font-weight: bold;
src: url('../DejaVuSerif-BoldItalic.ttf');
}


@font-face {
font-family: Arimo;
font-weight: normal;
src: url('../Arimo-Regular-Latin.ttf');
}

@font-face {
font-family: Arimo;
font-weight: bold;
src: url('../Arimo-Bold-Latin.ttf');
}

@font-face {
font-family: Arimo;
font-style: italic;
src: url('../Arimo-Italic-Latin.ttf');
}


@font-face {
font-family: Arimo;
font-style: italic;
font-weight: bold;
src: url('../Arimo-BoldItalic-Latin.ttf');
}


body {
	height: 100%;
	font: 16px "Arimo", "Helvetica", sans-serif;
}

a, .deletebutton, .editbutton, .tag {
	color: #FFB700;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

a:hover, .deletebutton:hover, .editbutton:hover, .tag:hover {
	text-shadow: 0 -1px 0 #A87900;
	text-decoration: underline;
}

h1.main {
	font: 28px "DejaVuSerif", "Georgia", serif;
	padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arimo", "Verdana", sans-serif;
	font-weight: normal;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

h1 {
	font: 22px "DejaVuSerif", "Georgia", serif;
	border-bottom:2px #660000;
	border-bottom-style: groove;
	width:60%;
	max-width: 600px;
}


/**/
/* These are the concurring parts */

header {
	z-index: 1000;
	position: fixed;
	top: 0;
	right: 0;
	color: #FFF000;
	width: 17%;
	min-width: 200px;
	max-width: 200px;
	height: 100%;
    background: #fcfcfc;
    box-shadow: inset 2px 0 5px rgba(0,0,0,0.2);
	padding: 0 0 60px 0;
	overflow: hidden;
	border-left:1px #999 solid;
}

footer {
	position: absolute;
	bottom: 60px;
	right: 10px;
	margin: 0;
	color: #c6c6c6;
	font-size: 11px;
	text-align: right;
	line-height: 13px;
}

footer p {
	padding: 0;
	margin: 0;
}

.headertext {
	position: absolute;
	top: 25px;
	left: 65px;
	color:rgba(10,0,0,0.4);
	font: 14px "DejaVuSerif", "Georgia", serif;
	border-bottom:2px #660000;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.mangos {
	position: absolute;
	top: 160px;
	left: 60px;
	color:rgba(10,0,0,0.4);
	font: 20px "DejaVuSerif", "Georgia", serif;
	border-bottom:2px #660000;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-decoration: underline;
}

.logo {
	position: absolute;
	right: 55px;
	top: 40px;
}

.login  {
	text-align: center;
	z-index: 1000;
	position: absolute;
	top:195px;
	left: 40px;
}

.login a {
	font: 18px "DejaVuSerif", "Georgia", serif;
	width: 100px;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: rgba(0,0,0,0.4);
	display: inline-block;
	margin: 5px 0 15px;
	padding: 5px 10px;
    border:1px #999 solid;
	background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.login a:hover {
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2), inset 2px 2px 8px rgba(0,0,0,0.2);
	text-decoration: none;
}

.loginlink {
	right: 20px;
	opacity: 0.4;
}

.divider {
	padding: 0 5px;
}

#container {
	z-index: 100;
	width: 70%;
	margin: 5% 10% 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.indexheader {
	padding: 0 0 5px 0;
	margin: 0 0 20px;
	text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}


/**/
/* Styles to the blogposts */

.body {
	width: 90%;
	position: relative;
	height: 100%;
	font: 16px "Arimo", "Helvetica", sans-serif;
	line-height: 26px;
}

.posted {
	margin: 5px 0;
	font-size: 12px;
}

.edit {
	display: inline-block;
	position: absolute;
	left: 10%;
	top: 20px;
}

.items {
	margin: 15px 0;
	padding: 0 0 15px 0;
 	max-width: 600px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0,0,0,0.3);
} 

.items:last-of-type {
	border: 0;
}

.fpblogpost {
	height: 55px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tag {
	color: #660000;
	font-size: 12px;
	padding: 0 5px 0 0;
	margin: 15px 5px 5px 0 ;
	border-right: 1px solid #FFB700;
}

.items h3 {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}


/**/
/* Let's style the comments too */

.commentsection {
	margin: 15px 0 0;
	max-width: 66%;

}

.comment {
	position: relative;
	margin: 15px 0;
	padding: 5px;
	font-size: 14px;
	width: 750px;
}

.comment pre {
	text-align: justify;
	overflow: auto;
}

.comment:nth-of-type(odd) {
	background-color:#fcfcfc;
}

.editcomm {
	text-align: right;
	width: 700px;
}

.nocomments {
	margin: 0 0 0 20px;
	font-style: italic;
}

.deletebutton, .editbutton {
	font-size: 12px;
	display: inline-block;
	width: 40px;
	padding: 5px 0;
	margin: 0 5px;
	background-color: transparent;
	border: 0;
	border-radius: 1px;
	color: #990000;
}

.deletebutton:hover, .editbutton:hover {
	cursor: pointer;
}

.commenteditform {
	display: inline;
}

.disclaimer {
	font-size: 70%;
	color: #0e0e0e;
	font-style: italic;
}


/**/
/* rte-plugin and the inputs */

.rte-zone
{
    width:500px;
    margin:0;
    padding:0;
    border:1px #999 solid;
    clear:both;
    height:200px;
    display:block;
    background: #fcfcfc;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
}

.rte-toolbar{ 
    overflow:hidden; 
}

.rte-toolbar a, .rte-toolbar a img {
        border:0;
}

.rte-toolbar p {
    float:left;
    margin:0;
    padding-right:5px;
}

input {
	padding: 2px;
    border:1px #999 solid;
	background: #fcfcfc;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.button {
	margin: 5px 0 15px;
	padding: 5px 10px;
}

.button:hover {
	cursor: pointer;
	box-shadow: inset 2px 2px 8px rgba(0,0,0,0.2);
}

#submit-slider{
    margin: 10px;
    width: 150px;
}

label {
    display: block;
    margin: 5px 0;
}

form {
	margin: 20px 0 0;
}
